.button--theme {
    border: none;
    height: 16px;
    width: 16px;
    box-sizing: content-box;
    border-radius: 12px;
    padding: 12px;
    background-color: var(--button-theme-bg);
    &:hover {
        background-color: var(--button-theme-bg-hover);
    }
    &:focus {
        background-color: var(--button-theme-bg-hover);
    }
}

.theme__icon {
    width: 16px;
    height: 16px;
}