:root {
  --neutral: hsl(200, 60%, 99%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-900: hsl(227, 75%, 14%);
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

  --font-md: 16px;
  --font-xl: 32px;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --background: var(--gradient-light);
  --item-bg: var(--neutral);
  --button-filter-bg: var(--neutral);
  --button-filter-bg-hover: var(--neutral-100);
  --button-theme-bg: var(--neutral-100);
  --button-theme-bg-hover: var(--neutral-300);
  --button-bg-active: var(--red-500);
  --button-bg-active-hover: var(--red-700);
  --header-color: var(--neutral-900);
  --text-color: var(--neutral-600);
  --button-color: var(--neutral-800);
  --button-color-active: var(--neutral);
  --button-filter-border: var(--neutral-200);
  --button-border-active: var(--red-700);
  --switch-color-active: var(--red-500);
  --switch-color-inactive: var(--neutral-300);
}

[data-theme="dark"] {
  --background: var(--gradient-dark);
  --item-bg: var(--neutral-800);
  --button-filter-bg: var(--neutral-700);
  --button-filter-bg-hover: var(--neutral-600);
  --button-theme-bg: var(--neutral-700);
  --button-theme-bg-hover: var(--neutral-600);
  --button-bg-active: var(--red-500);
  --button-bg-active-hover: var(--red-400);
  --header-color: var(--neutral);
  --text-color: var(--neutral-300);
  --button-color: var(--neutral-100);
  --button-color-active: var(--neutral-900);
  --button-filter-border: var(--neutral-600);
  --button-border-active: var(--red-400);
  --switch-color-active: var(--red-700);
  --switch-color-inactive: var(--neutral-600);
}

#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Noto Sans';
}

button,
input,
textarea,
select {
  font-family: inherit;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url("./assets/fonts/NotoSans-VariableFont_wdth,wght.ttf"); 
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  src: url("./assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf"); 
}
